@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.rbt-font {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

.effect-dropdown {

    transition: all 0.5s;

    &:hover {
        transition: all 0.5s;
        color: black;
        background-color: rgb(97, 97, 97);
    }
}

.carousel-example-1z {
    width: 800px;
    height: 400px;
}


.logo {
    width: 265px;
    height: 150px;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.hover-lgi {
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        transition: all .2s ease;
        background-color: rgb(190, 190, 190);
    }
}

.sidebar-post {
    list-style-type: none;

    .title-sb {
        padding-left: 10px;
        width: 247px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 12px;
    }
    .post-item {
        div {
            display: flex;
        }
    }
    .headline {
        width:100%;
        height:1px;
        background-color: black;
    }
}

.footer-bg {
    background-color: rgb(230, 230, 230);
}

.catalogy-footer {
    ul {
        li {
            margin-bottom: 12px;
        }
    }
}

.footer {
    .col-4 {
        ul {
            list-style-type: none;
            li {

            }
        }
    } 
}