@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("/src/font/GothamPro-BoldItalic"), url("/src/font/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-BoldItalic.woff") format("woff"), url("/src/font/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("/src/font/GothamPro-Italic"), url("/src/font/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-Italic.woff") format("woff"), url("/src/font/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("/src/font/GothamPro-Medium"), url("/src/font/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-Medium.woff") format("woff"), url("/src/font/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("/src/font/GothamPro-BlackItalic"), url("/src/font/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-BlackItalic.woff") format("woff"), url("/src/font/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("/src/font/GothamPro-Bold"), url("/src/font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-Bold.woff") format("woff"), url("/src/font/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("/src/font/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("/src/font/GothamProNarrow-Bold"), url("/src/font/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamProNarrow-Bold.woff") format("woff"), url("/src/font/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("/src/font/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("/src/font/GothamProNarrow-Medium"), url("/src/font/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamProNarrow-Medium.woff") format("woff"), url("/src/font/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("/src/font/GothamPro-LightItalic"), url("/src/font/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-LightItalic.woff") format("woff"), url("/src/font/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("/src/font/GothamPro-Light"), url("/src/font/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-Light.woff") format("woff"), url("/src/font/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("/src/font/GothamPro-Black"), url("/src/font/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-Black.woff") format("woff"), url("/src/font/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro.eot");
  src: local("Gotham Pro"), local("/src/font/GothamPro"), url("/src/font/GothamPro.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro.woff") format("woff"), url("/src/font/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/src/font/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("/src/font/GothamPro-MediumItalic"), url("/src/font/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/src/font/GothamPro-MediumItalic.woff") format("woff"), url("/src/font/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/*# sourceMappingURL=font.css.map */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: Gotham Pro;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header {
  height: 80px;
  box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.49);
}

#header .header-container {
  height: 100%;
}

#header .header-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .header-container .logo .logo-img img {
  height: 46px;
  width: 46px;
}

#header .header-container .tabs {
  font-family: Gotham Pro;
  font-style: bold;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

#header .header-container .tabs .tab {
  margin: auto;
}

#header .header-container .tabs .tab .header-link {
  text-decoration: none;
  color: #181818;
  position: relative;
  width: 100%;
}

#header .header-container .tabs .tab .header-link img {
  margin-bottom: 6px;
}

#header .header-container .tabs .tab .header-link p {
  padding: 0;
  margin: 0;
}

#header .header-container .tabs .tab .header-link:hover {
  color: #0275B1;
}

#header .header-container .tabs .tab .header-link:hover img {
  filter: invert(23%) sepia(76%) saturate(2429%) hue-rotate(182deg) brightness(102%) contrast(98%);
}

#header .header-container .tabs .tab .header-link:before {
  content: '';
  position: absolute;
  opacity: 0;
  bottom: -300%;
  left: -100%;
  transition: 0.5s;
  width: 0%;
  height: 2px;
}

#header .header-container .tabs .tab:hover .header-link:before {
  opacity: 1;
  width: 300%;
  background-color: #0275B1;
}

#header .header-container .search {
  position: relative;
}

#header .header-container .search i {
  margin-right: 6px;
  font-size: 26px;
  color: #0275B1;
  font-weight: 400;
}

#header .header-container .search .input-group input {
  font-family: Gotham Pro;
  font-weight: lighter;
  border-radius: 20px;
  line-height: 20px;
  font-size: 16px;
}

#header .header-container .search .modal-search {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 100%;
  -webkit-box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.8);
}

#header .header-container .search .modal-search .header-modal {
  height: 80px;
  border-bottom: 1px solid #F4F4F4;
}

#header .header-container .search .modal-search .header-modal .header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: #181818;
}

#header .header-container .search .modal-search .header-modal .icon {
  margin: 0;
  padding: 0;
  padding: 6px 10px;
  background-color: #0275B1;
  border-radius: 8px;
}

#header .header-container .search .modal-search .header-modal .icon i {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: white;
  font-weight: 200;
}

#header .header-container .search .modal-search .jobs {
  margin-top: 12px;
  border-bottom: 1px solid #F4F4F4;
}

#header .header-container .search .modal-search .jobs .header {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: rgba(24, 24, 24, 0.2);
}

#header .header-container .search .modal-search .jobs .jobs-list .jobs {
  padding: 16px;
  display: flex;
  border: 1px solid #F4F4F4;
  border-radius: 10px;
}

#header .header-container .search .modal-search .jobs .jobs-list .jobs .jobs-img {
  margin-right: 20px;
}

#header .header-container .search .modal-search .jobs .jobs-list .jobs .content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

#header .header-container .search .modal-search .jobs .jobs-list .jobs .content h1 {
  width: 100%;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin: 0;
}

#header .header-container .search .modal-search .jobs .jobs-list .jobs .content p {
  width: 100%;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  margin: 0;
}

#header .header-container .search .modal-search .jobs .view-all {
  margin-top: 12px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #0275B1;
}

#header .header-container .infomation .avatar {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

#header .header-container .infomation .avatar img {
  width: 100%;
}

#header .header-container .infomation .infomation .line {
  display: flex;
}

#header .header-container .infomation .infomation .line p {
  padding: 0;
  margin: 0;
  margin-right: 4px;
}

#header .header-container .infomation .infomation .line .name {
  font-weight: 500;
  white-space: nowrap;
}

#header .header-container .infomation .infomation .line .about {
  opacity: .5;
}

#header .header-container .infomation .infomation .line .views {
  color: #747474;
  font-style: regular;
}

#header .header-container .infomation .infomation .line .counts {
  font-weight: 600;
  color: #02B033;
}

#header .header-container .other {
  font-family: Gotham Pro;
  font-style: bold;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

#header .header-container .other .other-container {
  margin: auto;
}

#header .header-container .other .other-container .header-link {
  text-decoration: none;
  color: #181818;
  position: relative;
  width: 100%;
}

#header .header-container .other .other-container .header-link img {
  margin-bottom: 6px;
}

#header .header-container .other .other-container .header-link p {
  padding: 0;
  margin: 0;
}

#header .header-container .other .other-container .header-link:hover {
  color: #0275B1;
}

#header .header-container .other .other-container .header-link:hover img {
  filter: invert(23%) sepia(76%) saturate(2429%) hue-rotate(182deg) brightness(102%) contrast(98%);
}

#header .header-container .other .other-container .header-link:before {
  content: '';
  position: absolute;
  opacity: 0;
  bottom: -300%;
  left: -100%;
  transition: 0.5s;
  width: 0%;
  height: 2px;
}

#header .header-container .other .other-container:hover .header-link:before {
  opacity: 1;
  width: 300%;
  background-color: #0275B1;
}

@media (max-width: 575.98px) {
  .logo,
  .tabs,
  .infomation {
    border: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .logo,
  .tabs,
  .infomation {
    border: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .logo,
  .tabs,
  .infomation {
    border: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .infomation {
    border: none !important;
  }
}
